params {
    images = [
        ubuntu:                'ubuntu:22.04',
        diann:                 'quay.io/protio/diann:1.8.1',
        bibliospec:            'quay.io/protio/bibliospec-linux:3.0',
        panorama_client:       'quay.io/protio/panorama-client:1.1.0',
        pdc_client:            'quay.io/mauraisa/pdc_client:2.2.0',
        encyclopedia:          'quay.io/protio/encyclopedia:2.12.30-2',
        encyclopedia3_mriffle: 'quay.io/protio/encyclopedia:3.0.0-MRIFFLE',
        qc_pipeline:           'quay.io/mauraisa/dia_qc_report:2.5.0',
        proteowizard:          'quay.io/mauraisa/pwiz-skyline-i-agree-to-the-vendor-licenses:skyline_daily_25.0.9.97-ae4c997',
        cascadia:              'quay.io/protio/cascadia:0.0.7',
        cascadia_utils:        'quay.io/protio/cascadia-utils:0.0.4',
        carafe:                'quay.io/mauraisa/carafe:0.0.1-beta'
    ]
}
