params {
    images = [
        ubuntu:                'ubuntu:22.04',
        diann:                 'quay.io/protio/diann:1.8.1',
        bibliospec:            'quay.io/protio/bibliospec-linux:3.0',
        panorama_client:       'quay.io/protio/panorama-client:1.1.0',
        encyclopedia:          'quay.io/protio/encyclopedia:2.12.30-2',
        encyclopedia3_mriffle: 'quay.io/protio/encyclopedia:3.0.0-MRIFFLE',
        qc_pipeline:           'quay.io/mauraisa/dia_qc_report:2.2.4',
        proteowizard:          'quay.io/protio/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.24172-63d00b1'
    ]
}
