params {
    images = [
        ubuntu:                'ubuntu:22.04',
        diann:                 'diann:2.1.0',
        bibliospec:            'quay.io/protio/bibliospec-linux:3.0',
        panorama_client:       'quay.io/protio/panorama-client:1.1.0',
        pdc_client:            'quay.io/mauraisa/pdc_client:2.0.1',
        encyclopedia:          'quay.io/protio/encyclopedia:2.12.30-2',
        encyclopedia3_mriffle: 'quay.io/protio/encyclopedia:3.0.0-MRIFFLE',
        qc_pipeline:           'quay.io/mauraisa/dia_qc_report:2.3.1',
        proteowizard:          'quay.io/protio/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.24172-63d00b1',
        cascadia:              'quay.io/protio/cascadia:0.0.7',
        cascadia_utils:        'quay.io/protio/cascadia-utils:0.0.4'
    ]
}
