//
// A sample pipeline.config for running the nf-skyline-dia-ms Nextflow workflow.
//
// See https://nf-skyline-dia-ms.readthedocs.io/en/latest/workflow_options.html
// for a complete description of all parameters.
//
// Send questions, comments, ideas, bug reports, etc, to:
// Michael Riffle <mriffle@uw.edu>
//

// params will need changed per workflow run
params {

    //////////////// Commonly Changed Parameters ///////////////////

    // The search engine to use, must be 'diann' or 'encyclopedia'
    // 'cascadia' may also be used, but may take a very long time.
    search_engine = 'diann'


    // The FASTA file for the proteome being searched.
    fasta = '/path/to/fasta_file'


    // Uncomment line below to use Carafe.
    // This is the path to the mzML file to use for Carafe
    // carafe.spectra_file = "/path/to/raw_or_mzml_file"


    // The spectral library to use. Do not use if using Carafe.
    // If commented out and not using Carafe, runs Diann in library-free mode.
    // Uncomment line below to use specified spectral library.
    // spectral_library = "/path/to/spectral_library"


    // The location(s) of the raw data to be searched.
    quant_spectra_dir = '/path/to/raw_or_mzml_files'

    // Note, if raw data are in separate directories, specify them separately
    // using the format. They will be treated as separate batches. A separate
    // Skyline document and QC report will be generated for each batch.
    // quant_spectra_dir = [ 'name_of_batch_1': '/path/to/batch_1/raw_files',
    //                       'name_of_batch_2': '/path/to/batch_2/raw_files',
    //                       'name_of_batch_3': '/path/to/batch_3/raw_files']



    // Designate which files are being processed. If procesing Bruker files,
    // may need to change to "*.d.zip"
    quant_spectra_glob = "*.raw"


    // If processing many files, it may be helpful to do a first pass DiaNN
    // search where a spectral library is generated from a set of raw files
    // that is used to search all the files set in quant_spectra_dir in a
    // second pass.
    // Uncomment the lines below to perform a first pass search, leave
    // commented out to skip the first pass search.
    //chromatogram_library_spectra_dir = ['/path/to/first_pass_raw_files']
    //chromatogram_library_spectra_glob = "*.raw"


    //////// IMPORTANT: How to treat RAW files ///////////

    // Whether to skip msconvert and use vendor raw files instead
    // Note: this will only work if you are NOT using overlapping DIA windows
    // If you need to demultiplex, comment out these lines
    use_vendor_raw  = true

    // copy vendor raw files to the work directory instead of using hard link.
    // may be necessary on some systems, depending on permissions
    vendor_raw_copy = false

    // Options for msconvert. If use_vendor_raw is true, these will be ignored.
    msconvert.do_demultiplex  = true         // whether or not to demultiplex with msconvert
    msconvert.do_simasspectra = true         // whether or not to do simAsSpectra with msconvert


    //////////////// Skyline Options //////////////////

    // Base name of the final Skyline document
    skyline.document_name = 'Final_Skyline_Document'

    // Minimize Skyline document?
    skyline.minimize = false

    skyline.group_by_gene = true
    skyline.protein_parsimony = false

    // Skip Skyline document generation entirely
    skyline.skip = false

    // Whether or not to use hardlinks for caching files for Skyline
    // Must be true for correct caching of Skyline steps, but may not
    // be supported on all systems.
    skyline.use_hardlinks = true



    //////////////// PanoramaWeb Options ////////////////////

    // Whether to upload results to Panorama
    panorama.upload = false

    // The WebDAV URL of a folder in Panorama to upload to
    panorama.upload_url = 'https://panoramaweb.org/_webdav/.........'

    // Wether to import results into Panorama's internal SQL database
    panorama.import_skyline = false



    //////////////// Advanced Carafe Options ////////////////////

    // These are the defaults used by the workflow for Carafe. To change,
    // uncomment and modify the parameters below.
    // Do not set the following params here, they are managed by the workflow or set elsewhere:
    // -mode, -varMod, -maxVar, -ms, -db, -i, -se, -lf_type, -device
    //carafe.cli_options = '-fdr 0.01 -ptm_site_prob 0.75 -ptm_site_qvalue 0.01 -itol 20 -itolu ppm -rf -rf_rt_win auto -cor 0.8 -min_mz 200 -n_ion_min 2 -c_ion_min 2 -enzyme 2 -miss_c 1 -fixMod 1 -clip_n_m -minLength 7 -maxLength 35 -min_pep_mz 300 -max_pep_mz 1800 -min_pep_charge 2 -max_pep_charge 4 -lf_frag_mz_min 200 -lf_frag_mz_max 1800 -lf_top_n_frag 20 -lf_min_n_frag 2 -lf_frag_n_min 2 -tf all -nm -nf 4 -min_n 4 -valid -na 0 -ez -fast'

    // Include phosphorylation or oxidized methionine in the spectral
    // library generated by Carafe
    carafe.include_phosphorylation     = false
    carafe.include_oxidized_methionine = false

    // The number of modifications allowed per peptide. Ignored if no variable modifications
    // are being included.
    max_mod_option = '-maxVar 1'



    /////////////// EncyclopeDIA Options /////////////////////

    // default parameters for Encyclopedia searches, can be overridden
    encyclopedia.chromatogram.params    = null
    encyclopedia.quant.params           = null

    // whether or not to save the output from encyclopedia running on individual raw/mzML
    // files (e.g. .dia or .features.txt files) to the results directory
    // the generated chromatogram library (elib) will always be saved, regardless of this setting
    encyclopedia.save_output            = false



    /////////////// Reporting Options /////////////////////

    // Wether to skip QC report generation entirely
    qc_report.skip = false

    // Normalization scheme to use in QC report. Must be one of 'median'
    // or 'DirectLFQ'
    qc_report.normalization_method = 'median'

    // Whether to output peptide and protein quant matrices as TSV files
    qc_report.export_tables = true

    // Optional: path to replicate metadata, used for more customized QC
    // reports. See https://nf-skyline-dia-ms.readthedocs.io/en/latest/workflow_parameters.html#providing-replicate-metadata
    // for more information
    //replicate_metadata = '/path/to/metadata.csv'

    // Optional: list of protein names in Skyline document to plot retention times for.
    //qc_report.standard_proteins = ['iRT']

    // Optional: list of metadata variables to color PCA plots by.
    //qc_report.color_vars = ['Dose', 'Plate', 'Batch']

    // Wether to skip the batch report
    batch_report.skip = true

    // Do not change
    qc_report.report_format = ['html']


    //////////////// Less-Commonly Changed Parameters //////////////////

    // Specify a custom image for DiaNN
    //images.diann = "path to different diann image"

    // Specify a custom image for proteowizard (msconvert and skyline)
    //images.proteowizard = 'path to different proteowizard image'

    // Specify a custom Skyline template file
    //skyline.template_file = 'path to different skyline template file'


}

// if running jobs locally change these to match system capabilities
profiles {

    // "standard" is the profile used when the steps of the workflow are run
    // locally on your computer. These parameters should be changed to match
    // your system resources (that you are willing to devote to running
    // workflow jobs).
    standard {
        params.max_memory = '8.GB'
        params.max_cpus = 4
        params.max_time = '240.h'

        params.mzml_cache_directory = './mzml_cache'
        params.panorama_cache_directory = './raw_cache'
    }
}

// advanced config: change settings to match your email provider to send emails
mail {
    from = 'address@host.com'
    smtp.host = 'smtp.host.com'
    smtp.port = 587
    smtp.user = 'smpt_user'
    smtp.password = 'smtp_password'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = false
    mail.smtp.ssl.protocols = 'TLSv1.2'
}
