//
// A sample pipeline.config for running the TEI-REX DIA Nextflow workflow.
//
// See https://nf-skyline-dia-ms.readthedocs.io/en/latest/workflow_options.html
// for a complete description of all parameters.
//
// Send questions, comments, ideas, bug reports, etc, to:
// Michael Riffle <mriffle@uw.edu>
//

// params will need changed per workflow run
params {

    // the data to be processed.
	
	// note: files and directorys may specify a local file or a PanoramaWeb WebDAV directory/file
	// Example local file:
	//    spectral_library = '/path/to/file.dlib'
	//
	// Example PanoramaWeb WebDAV location:
	//    spectral_library = 'https://panoramaweb.org/_webdav/DIRECTORY/RawFiles/file.dlib'

	// the data to be quantified (e.g., wide window data)
    quant_spectra_dir = '/path/to/wide_window_data'

	// which files in this directory to use, default: all raw files
	//quant_spectra_glob = '*.raw'

	// Optional: the data to be used to generate a chromatogram library (elib)
	// if missing the chromatogram library step will be skipped
    chromatogram_library_spectra_dir = '/path/to/narrow_window_data'

	// which files in this directory to use, default: all raw files
	//chromatogram_library_spectra_glob = '*.raw'

	// spectral library used for searching
    spectral_library = '/path/to/file.dlib'

	// the background FASTA file
    fasta = '/path/to/file.fasta'

	// options for msconvert
    msconvert.do_demultiplex = true;          // whether or not to demultiplex with msconvert
    msconvert.do_simasspectra = true;         // whether or not to do simAsSpectra with msconvert

    // default parameters for Encyclopedia searches, can be overridden
    encyclopedia.chromatogram.params    = '-enableAdvancedOptions -v2scoring'
    encyclopedia.quant.params           = '-enableAdvancedOptions -v2scoring'

    // whether or not to save the output from encyclopedia running on individual raw/mzML
    // files (e.g. .dia or .features.txt files) to the results directory
    // the generated chromatogram library (elib) will always be saved, regardless of this setting
    encyclopedia.save_output            = false

	// Optional: the skyline template file used to create final skyline document
	// if missing, commented out, or set to null, a default document will be used
    //skyline_template_file     = './template.sky.zip'

    // List of protein names to plot retention times for
    qc_report.standard_proteins = null

    // List of metadata variables to color PCA plots by
    qc_report.color_vars = null

    // Export matricies of normalized precursor and protein quantities?
    qc_report.export_tables = false

    // receive email when done at this address
    // note: the email config at the end of this file must be set up for this to work
    // if commented out (default), no attempt to send email will be made
    //email = 'email@host.com'
}

// if running jobs locally change these to match system capabilities
profiles {

    // "standard" is the profile used when the steps of the workflow are run
    // locally on your computer. These parameters should be changed to match
    // your system resources (that you are willing to devote to running
    // workflow jobs).
    standard {
        params.max_memory = '8.GB'
        params.max_cpus = 4
        params.max_time = '240.h'

        params.mzml_cache_directory = '/data/mass_spec/nextflow/nf-skyline-dia-ms/mzml_cache'
        params.panorama_cache_directory = '/data/mass_spec/nextflow/panorama/raw_cache'
    }
}

// advanced config: change settings to match your email provider to send emails
mail {
    from = 'address@host.com'
    smtp.host = 'smtp.host.com'
    smtp.port = 587
    smtp.user = 'smpt_user'
    smtp.password = 'smtp_password'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = false
    mail.smtp.ssl.protocols = 'TLSv1.2'
}
