
process {
    resourceLimits = [cpus: params.max_cpus, memory: params.max_memory, time: params.max_time]

    cpus   = 1
    memory = 4.GB
    time   = 1.h

    errorStrategy = { task.exitStatus in [143,137,104,134,139,5,6,null] ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    containerOptions = { workflow.profile == 'standard' ? '--user $(id -u):$(id -g)' : '' }

    // Process-specific resource requirements
    // NOTE - Please try and re-use the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // TODO nf-core: Customise requirements for specific processes.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:process_low_constant {
        cpus   = 2
        memory = 8.GB
        time   = 1.h
    }
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 8.GB  * task.attempt }
        time   = { 2.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 4     * task.attempt }
        memory = { 15.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 32    * task.attempt }
        memory = { 60.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_long {
        time   = { 20.h  * task.attempt }
    }
    withLabel:process_short {
        time   = { 1.h  * task.attempt }
    }
    withLabel:process_twohours {
        time   = { 2.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 60.GB * task.attempt }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }

    // labels added for TEI-REX workflows
    withLabel:process_high_constant {
        cpus   = 128
        memory = 128.GB
        time   = 24.h
    }
    withLabel:process_memory_high_constant {
        cpus   = 16
        memory = 128.GB
        time   = 24.h
    }
    withLabel:proteowizard {
        containerOptions = { workflow.profile == 'standard' ? '-e LOCAL_USER_ID="$(id -u)" -e LOCAL_GROUP_ID="$(id -g)"' : '' }
    }
    withLabel:run_as_root {
        containerOptions = ''
    }
}
