
params {
    output_directories = [
        panorama:         "${params.result_dir}/panorama",
        aws:              "${params.result_dir}/aws",
        msconvert:        "${params.result_dir}/msconvert",
        diann:            "${params.result_dir}/diann",
        qc_report:        "${params.result_dir}/qc_report",
        qc_report_tables: "${params.result_dir}/qc_report/tables",
        gene_reports:     "${params.result_dir}/gene_reports",
        encyclopedia: [
            convert_blib: "${params.result_dir}/encyclopedia/convert-blib",
            search_file:  "${params.result_dir}/encyclopedia/search-file",
            create_elib:  "${params.result_dir}/encyclopedia/create-elib"
        ],
        skyline: [
            add_lib:        "${params.result_dir}/skyline/add-lib",
            import_spectra: "${params.result_dir}/skyline/import-spectra",
            minimize:       "${params.result_dir}/skyline/minimize",
            reports:        "${params.result_dir}/skyline/reports"
        ]
    ]
}
