//
// A sample pipeline.config for running the TEI-REX DIA Nextflow workflow.
//
// See https://nf-skyline-dia-ms.readthedocs.io/en/latest/workflow_options.html
// for a complete description of all parameters.
//
// Send questions, comments, ideas, bug reports, etc, to:
// Michael Riffle <mriffle@uw.edu>
//

// params will need changed per workflow run
params {

    // the search engine to use
    search_engine = 'diann'
    
    pdc.study_id = 'PDC000504'
    pdc.n_raw_files = 2

	// the background FASTA file
    fasta = 'test-resources/test.fasta'

	// options for msconvert
    msconvert.do_demultiplex = false;          // whether or not to demultiplex with msconvert
    msconvert.do_simasspectra = true;         // whether or not to do simAsSpectra with msconvert

    // Skip QC report generation
    qc_report.skip = false
}

// if running jobs locally change these to match system capabilities
profiles {

    // "standard" is the profile used when the steps of the workflow are run
    // locally on your computer. These parameters should be changed to match
    // your system resources (that you are willing to devote to running
    // workflow jobs).
    standard {
        params.max_memory = '8.GB'
        params.max_cpus = 4
        params.max_time = '1.h'

        params.mzml_cache_directory = './mzml_cache'
        params.panorama_cache_directory = './raw_cache'
    }
}
