
params {

    // the search engine to use
    search_engine = null

	// the data to be quantified (e.g., wide window data)
    quant_spectra_dir = ['Plate1': 'test-resources/narrow-window',
                         'Plate2': 'test-resources/wide-window']

	// which files in this directory to use, default: all raw files
	quant_spectra_glob = '*.raw'

    fasta = 'test-resources/test.fasta'
    spectral_library = 'test-resources/test.dlib'

	// options for msconvert
    msconvert.do_demultiplex = true;          // whether or not to demultiplex with msconvert
    msconvert.do_simasspectra = true;         // whether or not to do simAsSpectra with msconvert

    // default parameters for Encyclopedia searches, can be overridden
    encyclopedia.chromatogram.params    = '-enableAdvancedOptions -v2scoring'
    encyclopedia.quant.params           = '-enableAdvancedOptions -v2scoring'

    encyclopedia.save_output            = false

    replicate_metadata = null
    skyline.skip = false

    qc_report.skip = false
    qc_report.standard_proteins = null
    qc_report.color_vars = null
    qc_report.export_tables = false
}

// if running jobs locally change these to match system capabilities
profiles {

    // "standard" is the profile used when the steps of the workflow are run
    // locally on your computer. These parameters should be changed to match
    // your system resources (that you are willing to devote to running
    // workflow jobs).
    standard {
        process {
            resourceLimits = [cpus: 2, memory: '4.GB', time: '1.h']
        }

        params.mzml_cache_directory = './mzml_cache'
        params.panorama_cache_directory = './raw_cache'
    }
}

// advanced config: change settings to match your email provider to send emails
mail {
    from = 'address@host.com'
    smtp.host = 'smtp.host.com'
    smtp.port = 587
    smtp.user = 'smpt_user'
    smtp.password = 'smtp_password'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = false
    mail.smtp.ssl.protocols = 'TLSv1.2'
}
