//
// A sample pipeline.config for testing the PDC batch mode.
//
// Uses pdc.metadata_tsv to avoid PDC API dependency.
// Uses pdc.batch_file to assign files to batches.
//

params {

    search_engine = 'diann'

    pdc.study_id = 'PDC000504'
    pdc.study_name = 'test_pdc_study'
    pdc.metadata_tsv = 'test-resources/test-pdc-metadata.tsv'
    pdc.batch_file = 'test-resources/test-pdc-batch-file.tsv'

    fasta = 'test-resources/test.fasta'

    msconvert.do_demultiplex = false
    msconvert.do_simasspectra = true

    qc_report.skip = false
}

profiles {
    standard {
        process {
            resourceLimits = [cpus: 2, memory: '4.GB', time: '1.h']
        }

        params.mzml_cache_directory = './mzml_cache'
        params.panorama_cache_directory = './raw_cache'
    }
}
